<div class="container mt-5">
  <div class="row">
    <div class="card col-4 m-2" style="width: 18rem" *ngFor="let book of books">
      <img src="https://ntiproject.herokuapp.com/{{book.image}}" class="card-img-top mt-1" alt="..." />
      <div class="card-body">
        <h5 class="card-title" style="text-transform: capitalize">
          {{ book.title }}
        </h5>
        <h6 style="text-transform: capitalize">{{ book.author }}</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button routerLink="/product/{{ book._id }}" class="btn btn-primary">
          Show More
        </button>
      </div>
    </div>
  </div>
</div>
